<!DOCTYPE html>
<html>
<head>
    <title>Dots</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>
<h1 class = "nadpis">Welcome to Dots</h1>
<h2 class = "author">Made by K.Stutiak</h2>
<div class="top-right">
    <!-- Login/Register or Logout button -->
    <form th:if="${@userController.logged}" action="/logout" method="POST">
        <button type="submit" class="btn">Logout</button>
        <span th:text="'Logged in as ' + ${@userController.loggedUser.getName()}"></span>
    </form>
    <form th:unless="${@userController.logged}" action="/" method="GET">
        <button type="submit" class="btn">Login/Register</button>
        <span>You are a guest</span>
    </form>
</div>
<div class="container">

    <div class="center-content">
        <div>
            <div th:utext="${htmlField}"></div>
        </div>

        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
            <div class="button-container">
                <form action="/dots/new" method="GET" class="button">
                    <button type="submit" class="btn">New Game</button>
                </form>
            </div>
        </div>

        <div th:if="${gameState == T(sk.tuke.gamestudio.game.GameState).OVER}" class="alert alert-info" role="alert">
            <span th:text="${gameOverMessage}"></span>
        </div>

        <form action="/dots" method="POST" class = "button">
            <button type="submit" class="btn" th:disabled="${gameState == T(sk.tuke.gamestudio.game.GameState).OVER}">Remove Selected Dots</button>
        </form>
        <form action="/dots/swap" method="GET" class="button">
            <button type="submit" class="btn">Swap Dots</button>
        </form>

    </div>

        <div class="column">
            <h1>Scores</h1>
            <table class="table_s">
                <tr th:each="score : ${scores}">
                    <td class="sc"><span th:text="${score.player}" class="splayer"/></td>
                    <td class="sc"><span th:text="${score.points}" class="score"/></td>
                </tr>
            </table>
        </div>

        <div class="column">
            <h1>Comments</h1>
            <table class="comment">
                <tr th:each="comment : ${comments}">
                    <td class="com"><span th:text="${comment.player}"/>:</td>
                    <td class="com"><span th:text="${comment.comment}"/></td>
                </tr>
            </table>
            <br>
            <div class="comment-form">
            <form th:if="${@userController.logged}">
                <a for="commContent" class = "comment-text">Leave a comment:</a>
                <br>
                <textarea
                        name="commentContent" id="commContent"
                        cols="30" rows="5" required></textarea>
                <button th:onclick="comment(event,[[${@userController.loggedUser.getName}]])" type="button" class = "btn">Comment</button>
            </form>
            </div>
        </div>

        <div class="column">
            <h1>Ratings</h1>
            <h2>Average rating: <span th:text="${averageRating}"/></h2>
            <br>
            <div th:if="${@userController.logged}">
                <h2>Your rating: <span th:text="${playerRating}"/></h2>
                Leave a rating:
                <br>
                <form id="form">
                    <input type="radio" name="rate" id="one" value="1">
                    <label for="one" class = "rating-num">1</label>
                    <input type="radio" name="rate" id="two" value="2">
                    <label for="two" class = "rating-num">2</label>
                    <input type="radio" name="rate" id="three" value="3">
                    <label for="three" class = "rating-num">3</label>
                    <input type="radio" name="rate" id="four" value="4">
                    <label for="four" class = "rating-num">4</label>
                    <input type="radio" name="rate" id="five" value="5">
                    <label for="five" class = "rating-num">5</label>
                    <br>
                    <br>
                    <button th:onclick="rating(event,[[${@userController.loggedUser.getName}]])" type="button" class = "btn">Rate</button>
                </form>
            </div>

        </div>
        </div>





</div>
<script type="text/javascript">
    document.getElementById("swapButton").addEventListener("click", function() {
        fetch("/dots/swap")
            .then(function(response) {
                if (response.ok) {
                    location.reload();
                } else {
                    console.error("Failed to swap dots: " + response.statusText);
                }
            })
            .catch(function(error) {
                console.error("An error occurred while swapping dots: " + error);
            });
    });
</script>

<script type="text/javascript" th:src="@{/js/services.js}"></script>
</body>

</html>

